* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("backgroundK.jpg");
    background-size: contain;
    background-color: black;
}

.main {
    background-color: rgb(180, 209, 38);
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: bolder;
}

.main ul li {
    display: inline-block;
    width: fit-content;
    padding: 15px 25px;
}

img {
    width: 180px;
    border-radius: 100px;
}

.nameDP {
    margin-top: 200px;
    text-align: center;
}

.nameDP h1 {
    width: 30%;
    margin: 0 auto;
    color: rgb(5, 5, 5);
}

.nameDP p {
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.768);
    font-size: 19px;
}

.nameDP .image {
    width: 40%;
    margin: 0 auto;
}

section {
    margin-top: 200px;
    color: rgb(5, 5, 5);
    background-color: rgb(180, 209, 38);
    height: 300px;
    font-size: 22px;
    /* border-radius: 10px; */
}

section .aboutMe1 {
    font-size: 40px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    padding: 15px;
    border: 1px solid white;
    background-color: rgba(40, 18, 61, 0.804);
    /* border-radius: 10px; */
}

section .aboutMe {
    margin: 10px 40px;
    text-align: justify;
    padding: 20px;
}

.aboutMe ul li {
    list-style-type: disc;
    padding: 18px;
}

.project {
    margin-top: 250px;
    color: rgb(94, 110, 37);
    background-color: rgb(180, 209, 38);
    height: 430px;
    font-size: 22px;
    /* border-radius: 10px; */
}

.mainbox {
    font-size: 40px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    padding: 15px;
    border: 1px solid white;
    background-color: rgba(40, 18, 61, 0.804);
    /* border-radius: 10px; */
}

.box {
    display: inline-block;
    width: 30%;
    border: 2px solid wheat;
    height: 291px;
    background-image: url("comeK.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 10px;
}

.moreAbout {
    margin-top: 330px;
    color: rgb(5, 5, 5);
    background-color: rgb(180, 209, 38);
    height: 330px;
    font-size: 22px;
    /* border-radius: 10px; */
}

.mainbox1 {
    font-size: 40px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    padding: 15px;
    border: 1px solid white;
    background-color: rgba(40, 18, 61, 0.804);
    /* border-radius: 10px; */
}

.moreImg {
    width: 150px;
    height: 150px;
}

.box1 {
    display: inline-block;
    width: 22%;
    margin: 30px 5px;
    text-align: center;
}

.contact {
    margin-top: 300px;
    color: rgb(5, 5, 5);
    background-color: rgb(180, 209, 38);
    height: 330px;
    font-size: 22px;
    /* border-radius: 10px; */
}

.contactMe {
    font-size: 40px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    padding: 15px;
    border: 1px solid white;
    background-color: rgba(40, 18, 61, 0.804);
    /* border-radius: 10px; */
}

.contactbox {
    margin: 20px auto;
}

footer {
    margin-top: 250px;
    color: rgb(5, 5, 5);
    background-color: rgb(180, 209, 38);
    height: 30px;
    font-size: 22px;
    /* border-radius: 10px; */
    text-align: center;
    padding: 8px;
}